<p>
<h1>This is worker profile</h1>
</p>
<p>
Name: <%= @Worker.name %>
<br/>
Contact <%= @Worker.contact %>
</p>
<p>
	<%= link_to "Edit", edit_worker_path %> <br/>
</p>
<p>
	<%= link_to "workers jobs", workers_path %>
</p>